import { Link, useParams, useNavigate } from "react-router-dom";
import db from "../../../db/firebase-config.js";
import { useEffect, useState, useCallback } from "react";
import { collection, getDocs, query, where } from "firebase/firestore";

const ProductsListCategory = () => {
  const [filteredData, setFilteredData] = useState([]);
  const [selectedCategory, setSelectedCategory] = useState("");
  const params = useParams();
  const navigate = useNavigate();

  const handleCategoryClick = useCallback(
    (category) => {
      setSelectedCategory(category);
      navigate(`/categoria/${category}`);
    },
    [setSelectedCategory, navigate]
  );

  useEffect(() => {
    let q = query(collection(db, "items"));

    if (selectedCategory || params.categoria) {
      const category = selectedCategory || params.categoria;
      q = query(q, where("Nombre", "==", category));
    }

    getDocs(q)
      .then((querySnapshot) => {
        const filteredData = querySnapshot.docs.map((doc) => doc.data());
        setFilteredData(filteredData);
      })
      .catch((error) => console.log(error));
  }, [selectedCategory, params.categoria]);

  return (
    <div className="grid grid-cols-3">
        <div className="col-start-1 ">
            <div className="grid grid-rows-7 pl-4 mt-36 ml-16 w-72 gap-9 border-2 border-orange-300 rounded-lg border-solid shadow-2xl shadow-orange-500/100 fixed bottom-20">
                <h1 className="mt-2 quicksand underline decoration-solid">Categorías</h1>
                <Link to="/categoria/Placa Madre" onClick={() => handleCategoryClick("Placa Madre")}>
                <h3 className="open-sans hover-underline-animation">Placa Madre</h3>
                </Link>
                <Link to="/categoria/Almacenamiento" onClick={() => handleCategoryClick("Disco")}>
                <h3 className="open-sans hover-underline-animation">Almacenamiento</h3>
                </Link>
                <Link to="/categoria/Placa de Video" onClick={() => handleCategoryClick("Placa de Video")}>
                <h3 className="open-sans hover-underline-animation">Placa de video</h3>
                </Link>
                <Link to="/categoria/Memoria Ram" onClick={() => handleCategoryClick("Memoria Ram")}>
                <h3 className="open-sans hover-underline-animation">Memoria Ram</h3>
                </Link>
                <Link to="/categoria/Procesador" onClick={() => handleCategoryClick("Procesador")}>
                <h3 className="open-sans hover-underline-animation">Procesadores</h3>
                </Link>
                <Link to="/categoria/Computadora" onClick={() => handleCategoryClick("Computadora")}>
                <h3 className="mb-2 open-sans hover-underline-animation">Computadoras</h3>
                </Link>
            </div>
        </div>



        <div className="col-start-2 col-span-2 grid grid-cols-2 grid-rows-1 ">
                    {filteredData.map((product) => (
                        <div className="grid place-items-center mt-6  gap-4 ml-3 mr-4 rounded-xl shadow-lg bg-white border-solid border-orange-400 border shadow-red-500/80 h-80 ">
                          <img className="w-40" src={product.img} alt={product.Nombre} />
                          <h2 className="text-center source-sans-pro text-lg">{product.Nombre} {product.Marca} {product.Descripcion}</h2>
                          <h3 className="text-center text-lg roboto-condensed">${product.Precio}</h3>
                        </div>
                    ))}
        </div>
    </div>
  )
}

export default ProductsListCategory