.bg{
    background-color:whitesmoke;
}

.titulo{
    display: grid;
    justify-content: center;
    color: deeppink;
}


.categorias{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.decoracion{
    text-decoration: none;
    color:skyblue;
}

.decoracion:hover{
    color: black;
    text-decoration: underline;
}